div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
body{
    animation: party 2s infinite;
    
}
@keyframes party{
    0%{
        background-color: yellow;
    }
    50%{
        background-color: rgb(64, 0, 255);
    }
    75%{
        background-color: red;
    }
    100%{
        background-color: white;
    }
}
