h1{
    display:inline-block;width:500px;
}
/* a{
    display: block;
} */

img{
    border: 2px solid yellow;
    /* padding: 10px 10px 10px 10px; */
      padding-top: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
     margin: 10px 10px 10px 10px;
}
h1{
    margin-top: 0px;
    margin-bottom:0px;
}
iframe{
          display: block;
          width: 500px;
          height: 500px;
}
#abc{
    width: 800px;
    height: 400px;
}
#xyz{
    width: 500px;
    height: 500px;
}
#123{
    width: 1000px;
    height: 500px;
}
#456{
    width: 400px;
    height: 400px;
}